<br />
<div class="col-md-10 col-md-offset-1">
	<h2>What is this?</h2>

	<p><strong>You Know You Work at a Startup When...</strong> was built by <a href="http://1amongmany.com">Danny Nathan</a>, an Entrepreneur, Product Designer, and Creative Strategist. After 10+ years of working with brands and startups, Danny decided it was time to learn how to code. He is working through the web development intensive at <a href="http://thefirehoseproject.com">The Firehose Project</a>. This is his first project.</p>

	<br />

	<p><strong>Here's Where to Find Danny:</strong>
		<ul>
			<li>Reach me <a href="mailto:danny@amongmany.com" target="blank">via email</a></li>
			<li>Shout <a href="http://twitter.com/amongmany" target="blank">on Twitter</a></li>
			<li>Find me <a href="http://linkedin.com/in/amongmany" target="blank">on LinkedIn</a></li>
			<li>Peek at <a href="http://1amongmany.com" target="blank">my Portfolio</a></li>
			<li>Peruse <a href="http://amongmany.com" target="blank">my Tumblr</a></li>
			<li>View <a href="http://shotsamongmany.com" target="blank">my Photography</a></li>
		</ul></p>
</div>