@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,800);

.clear {
	clear:both;
}

.headline {
	font-size: 16px;
	margin-top: 10vh;
	color: #747474;
	margin-bottom: 35px;
}


.links {
	margin-top: -27px;
}

.links a {
	color: black;
	font-size: 25px;
	border-bottom: 1px solid #dfdfdf;
	margin-right: 15px;
}

header {
	border-top: 20px solid #2965A8;
}

hr {
	clear:both;
}

h1 {
	font-family: 'Raleway', "Helvetica Neue", helvetica sans-serif;
	font-weight: 800;
	font-size: 50px;
}

h2 {
	font-family: 'Raleway', "Helvetica Neue", Helvetica, sans-serif;
	font-size: 25px;
	font-weight: 400;
}

.footer-buttons {
	margin-top: 25px;
}

.btn-lg {
	margin-top: 10px;
}

.slogan {
  font-family: "Helvetica Neue", helvetica, sans-serif;
  font-style: none;
  padding-top: 20px;
  font-size: 18px;
}

.footer-blurb {
	font-family: "Helvetica Neue", helvetica, sans-serif;
  	font-style: none;
}

@media (max-width: 750px) {
.headline {
	font-size: 20px;
	margin-top: 1vh;
}
h1 {
	font-size: 40px;
}
h2 {
	font-size: 24px;
}
.slogan {
	font-size:20px;
}
.footer-blurb {
	font-size: 12px;
}
}
